



.pepito{
    color: #285430;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.boton{
    color: #5F8D4E;
    border: 5px solid #E5D9B6;
    background-color: #A4BE7B;
    width: 200px;
    height: 100px;
}

.parrafo{
    color: #285430;
    font-size: 25px;
    background-color: #E5D9B6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




.imagen{
    width:1000px;
    height:500px;
}




